.not-found {
  font-family: 'Comic Sans MS';
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > .not-found-bg {
    height: 400px;
    width: 100%;
    background-image: url(../../apps/my-learn-ui/src/assets/images/not-found.gif);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    & > .not-found-404-status {
      font-size: 6rem;
      text-align: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  & > .not-found-content {
    text-align: center;
    color: var(--dark-color);
    & > .not-found-404-title {
      font-size: 3rem;
    }

    & > .not-found-404-text {
      letter-spacing: 2px;
      margin: 0.5rem 0;
    }
  }
}
